ul {
    list-style-type: none;
   padding-left: 10px;
   margin-bottom: 10px;
}
.dashboard-voluntario{
    display: flex;
    background-color: #E4E6E9;
}
.sidebar{
  width: 200px;
  height: calc(100vh - 75px);;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* sombra para dar profundidade */
  padding: 20px;
  border-radius: 8px;
}
main{
    margin: 10px auto;
    background-color: #F5F7FA;
    width: 100%;
    
}
hr {
    background-color: #F5F7FA;
}

.section-content{
    margin: 30px;
    background-color: white;
    margin: 10px;
    padding: 10px 40px;
    border-radius: 20px;
}
.inscricoes {
    display: flex;
    margin: 0px auto;
    align-items: center;
}
.vaga-car {
    width: 70%;
}

a {
    text-decoration: none;
}
a:visited {
    color: blue;
}
.vagas{
    display: flex;
    margin: 10px auto;
    text-align: center;
    align-items: center;
     justify-content: center;
}
#sair{
    color: red;
}
.button-perfil{
    margin: 10px;
    padding: 10px;
    background-color: var(--cor-verde-suave);
    border-radius: 20px;
    color: white !important;

}
.button-perfil:visited{
    color: white;
}
.button-perfil:hover, #vagas:hover {
    transform: translateY(-5px);
}

@media (max-width: 768px) {
  .dashboard-voluntario {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

  .inscricoes {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 10px;
  }

  .vaga-car {
    width: 100%;
  }

  .button-perfil {
    width: 100%;
    max-width: 300px;
    text-align: center;
    align-self: center;
  }

  .section-content {
    padding: 20px 20px;
  }

  .vagas {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
  }
}

#imagesair
{ 
  width: 15px; 
}


