/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Cabeçalho do projeto */

/* Cabeçalho */
header {
  background-color: #4d59e3;
  color: white;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 40px;
  height: 70px;
  width: 100%;
}

/* Logo */
.logo img {
  height: 50px;
}

/* Navbar */
header nav a {
  color: white;
  text-decoration: none;
  margin-left: 1rem;
  font-weight: bold;
}

header nav a:hover {
  text-decoration: underline;
}

/* Campo de pesquisa */
#pesquisa {
  padding: 5px 10px;
  width: 130px;
  border-radius: 10px;
  border: none;
  outline: none;
}

/* Dropdown personalizado */
.menu-dropdown {
  position: relative;
  display: inline-block;
}

.menu-button {
  background-color: #ffde59;
  color: black;
  padding: 8px 15px;
  border-radius: 10px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: white;
  min-width: 160px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  z-index: 1;
  border-radius: 8px;
  overflow: hidden;
}

.dropdown-content a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Mostrar dropdown ao hover ou foco */
.menu-dropdown:hover .dropdown-content,
.menu-dropdown:focus-within .dropdown-content {
  display: block;
}


.dashboard-container {
    width: 90%;
    max-width: 1000px;
    margin: 30px auto;
}

h1 {
    font-size: 28px;
    margin-bottom: 10px;
}

.subtitulo {
    color: #555;
    margin-bottom: 25px;
}

.titulo-instituicao {
    margin-top: 30px;
    font-size: 22px;
    font-weight: bold;
    color: #333;
}

.grupo-vagas {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 20px;
    margin-bottom: 40px;
}

.card-vaga {
    background: #fff;
    padding: 18px;
    border-radius: 12px;
    border: 1px solid #ddd;
    box-shadow: 0 3px 10px rgba(0,0,0,0.05);
    transition: 0.2s;
}

.card-vaga:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 16px rgba(0,0,0,0.12);
}

.card-vaga h3 {
    margin-bottom: 10px;
}

.nao-tem {
    font-size: 18px;
    text-align: center;
    margin-top: 30px;
    color: #444;
}
