body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #fff;
    color: #333;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #4d59e3;
    padding: 10px 50px;
}

.logo img {
    width: 80px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    transition: 0.3s;
}

.navbar a:hover, .navbar a.ativo {
    text-decoration: underline;
}

.container {
    max-width: 1000px;
    margin: 60px auto;
    padding: 0 20px;
}

.sobre h1 {
    color: #3a3cb3;
    font-size: 2.5rem;
    margin-bottom: 10px;
}

h2 {
    color: #3a3cb3;
    margin-top: 40px;
}

p, li {
    line-height: 1.6;
    font-size: 1rem;
}

ul {
    margin-left: 20px;
}

footer {
    background-color: #4d59e3;
    color: #fff;
    text-align: center;
    padding: 15px;
    margin-top: 50px;
}

/* Responsividade */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    .navbar a {
        display: block;
        margin: 10px 0;
    }

    .container {
        margin: 40px 15px;
    }
}
